<HTML>
	<HEAD>
		<TITLE>Behaviour</TITLE>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		{% load staticfiles %}
		<script src="{% static "app/js/myscript.js" %}"></script>
		
	</HEAD>
	<body>
		<nav class="navbar navbar-default  navbar-fixed-top">
		    <div class="container-fluid">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="/">BlogIT</a>
		        

		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right">
		                <li>
		                    <a href="/">Home</a>
		                </li>
		                <li>
		                    <a href="/about/">About</a>
		                </li>
		                <li>
		                    <a href="/write_blog/">Write a post</a>
		                </li>
		                <li>
		                    <a href="/contact/">Contact</a>
		                </li>
		            </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>


		<div class="container">
			<H1 class="text-center">Mark Behaviour</H1>
			<table class="table table-striped">
			    <thead>
			        <tr>
			            <th>Name</th>
			            <th>Class</th>
			            <th>Age</th>
			            <th>Behaviour</th>
			        </tr>
			    </thead>
			    <tbody>
			    	{% for student in students_list%}
			        <tr>
			            <td>{{student.name}}</td>
			            <td>{{student.student_class}}</td>
			            <td>{{student.age}}</td>
			            <td>
			            	<div class="dropdown">
			            	  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            	    Mark Behaviour
			            	    <span class="caret"></span>
			            	  	</button>
			            	  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            	    	
			            	  		{% for behaviour in behaviour_list %}
			            	    	<li><a href="#">{{behaviour.behaviour_name}} ({{behaviour.points}})</a></li>
			            	    	<script type="text/javascript">
			            	    		$(".dropdown-menu li a").click(function(){
			            	    			var selText = $(this).text();
			            	    		    $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+'<span class="caret"></span>');
			            	    		});
			            	    	</script>

			            	    	{% endfor %}
			            	  	</ul>
			            	</div>

			            </td>
			        </tr>
			     	{% endfor %}
			    </tbody>
			</table>
		</div>
	</body>
</HTML>